@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#logo {

    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 76px;
    color: #2a2a2a;
}